.inclind-panic-button-fixed {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 2000;
  display: flex;
  align-items: center;
  padding: 0.4rem 1.5rem;
  border: 1px solid #d74444;
  border-radius: 1rem;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #d32f2f;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out; }
  .inclind-panic-button-fixed:focus, .inclind-panic-button-fixed:hover {
    background-color: #c02929; }
  .inclind-panic-button-fixed svg {
    fill: #ffffff;
    margin-right: 10px; }
  @media (min-width: 768px) {
    .inclind-panic-button-fixed {
      right: 2rem;
      bottom: 2rem; } }
